<div class="main-wrapper">
    <partial name="_ProfileHeaderBarPartial" model="@Model.ProfileHeaderBarModel" />
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-2 order-lg-1">
                <aside class="widget-area profile-sidebar">
                    <!-- widget single item start -->
                    <div class="card widget-item">
                        <h4 class="widget-title">Shubo mozumder</h4>
                        <div class="widget-body">
                            <div class="about-author">
                                <p>I stay with my dream all time</p>
                                <ul class="author-into-list">
                                    <li><a href="#"><i class="bi bi-office-bag"></i></a></li>
                                    <li><a href="#"><i class="bi bi-home"></i></a></li>
                                    <li><a href="#"><i class="bi bi-location-pointer"></i></a></li>
                                    <li><a href="#"><i class="bi bi-heart-beat"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- widget single item end -->
                </aside>
            </div>

            <div class="col-lg-6 order-1 order-lg-2">
                <!-- share box start -->
                <div class="card card-small">
                    <div class="share-box-inner">

                        <!-- share content box start -->
                        <partial name="_PostBarPartial" />
                        <!-- share content box end -->
                    </div>
                </div>
                <!-- share box end -->
                <!-- post status start -->
                <partial name="_PostPartial" />
                <!-- post status end -->
            </div>
        </div>
    </div>
</div>
