@{
    ViewData["Title"] = "Home Page";
    Layout = "_MainLayout";

}
<div class="main-wrapper pt-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-2 order-lg-1">
                <aside class="widget-area">

                    <!-- widget single item start -->
                    <partial name="_ShortProfilePartial" />
                    <!-- widget single item end -->
                    <!-- widget single item start -->
                    <partial name="_SuggestFriendPartial" />
                    <!-- widget single item end -->

                </aside>
            </div>

            <div class="col-lg-6 order-1 order-lg-2">
                <!-- share box start -->
                <div class="card card-small">
                    <div class="share-box-inner">

                        <!-- widget single item start -->
                        <partial name="_PostBarPartial" />
                        <!-- widget single item end -->

                    </div>
                </div>

                <!-- post status end -->
                <partial name="_PostPartial" />
                <!-- post status start -->

            </div>

            <div class="col-lg-3 order-3">
                <aside class="widget-area">

                    <!-- widget single item start -->
                    <partial name="_FriendReequestNotifactionPartial" />
                    <!-- widget single item end -->

                </aside>
            </div>
        </div>
    </div>
</div>

