<div class="card card-small mb-0 active-profile-wrapper">
    <div class="active-profiles-wrapper">
        <div class="active-profile-carousel slick-row-20 slick-arrow-style">
            <!-- profile picture end -->
            <div class="single-slide">
                <div class="profile-thumb active profile-active">
                    <a href="#">
                        <figure class="profile-thumb-small">
                            <img src="assets/images/profile/profile-small-1.jpg" alt="profile picture">
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>