<div class="card">
    <!-- post title start -->
    <div class="post-title d-flex align-items-center">
        <!-- profile picture end -->
        <div class="profile-thumb">
            <a href="#">
                <figure class="profile-thumb-middle">
                    <img src="~/Adda/images/profile/profile-small-4.jpg" alt="profile picture">
                </figure>
            </a>
        </div>
        <!-- profile picture end -->

        <div class="posted-author">
            <h6 class="author"><a href="profile.html">Robart Faul</a></h6>
            <span class="post-time">40 min ago</span>
        </div>

        <div class="post-settings-bar">
            <span></span>
            <span></span>
            <span></span>
            <div class="post-settings arrow-shape">
                <ul>
                    <li><button>edit post</button></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- post title start -->
    <div class="post-content">
        <p class="post-desc pb-0">
            hey boys....whats up!.....
        </p>
        <div class="post-meta">
            <button class="post-meta-like">
                <i class="bi bi-heart-beat"></i>
                <span>You and 250 people like this</span>
                <strong>250</strong>
            </button>
            <ul class="comment-share-meta">
                <li>
                    <button class="post-comment">
                        <i class="bi bi-chat-bubble"></i>
                        <span>80</span>
                    </button>
                </li>
                <li>
                    <button class="post-share">
                        <i class="bi bi-share"></i>
                        <span>10</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>