<div class="card card-profile widget-item p-0">
    <div class="profile-banner">
        <figure class="profile-banner-small">
            <a asp-controller="Profile" asp-action="profile">
                <img src="~/Adda/images/banner/banner-small.jpg" alt="">
            </a>
            <a asp-controller="Profile" asp-action="profile" class="profile-thumb-2">
                <img src="~/Adda/images/profile/Shuvo_Sms.jpg" alt="">
            </a>
        </figure>
        <div class="profile-desc text-center">
            <h6 class="author"><a asp-controller="Profile" asp-action="profile">Shuvo Mozumder</a></h6>
            <p>Any one can join This Social network</p>
        </div>
    </div>
</div>